<div class="footer-wrapper">
<footer class="footer-main container-fluid" role="contentinfo">
	<div class="logo"><img src="{{appUrl}}/images/nyu_short_white.svg" alt="NYU" width="120" height="41"></div>
  {{> partners }}
</footer>
</div>