<div class="footer-wrapper">
<footer class="footer-main container-fluid" role="contentinfo">
	<div class="logo"><a href="http://nyu.edu/" target="_blank"><img src="{{appUrl}}/images/nyu_short_white.svg" alt="NYU" ></a></div>
  {{> partners }}
<div class="nyuad-wrapper"><a href="http://nyuad.nyu.edu/" target="_blank"><img src="{{appUrl}}/images/nyuad.svg" alt="NYU Abu Dhabi" ></a></div></footer></div>