<div class="footer-wrapper-top">
  <footer class="footer-main container-fluid">
  
     <ul class="footer-nav" role="navigation">
            {{#menus}}<li><a href="{{appUrl }}{{route}}" class="{{label}}link">{{label}}</a></li>{{/menus}}<li class="accessibility-link"><a class="external" href=" https://www.nyu.edu/footer/accessibility.html" target="_blank">Accessibility <span aria-hidden="true" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" height="15" width="15"><path fill="none" stroke="#ffffff" stroke-width="1" d="m8.6,7H1v12h12V11.4M9,1v2l2,2-6,6 4,4 6-6 2,2h2V1z"/></svg></span></a></li><li class="feedback-link"><a href="https://nyu.qualtrics.com/jfe/form/SV_8zQOuCi9g0JUVsV?site=indianocean&l=f" target="_blank">Send Feedback <span aria-hidden="true" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" height="15" width="15"><path fill="none" stroke="#ffffff" stroke-width="1" d="m8.6,7H1v12h12V11.4M9,1v2l2,2-6,6 4,4 6-6 2,2h2V1z"/></svg></span></a></li>       
        </ul>
   	
    </footer>
</div>
<div class="footer-wrapper">
<footer class="footer-main container-fluid" role="contentinfo">
	<div class="logo"><a href="http://nyu.edu/" target="_blank"><img src="{{appUrl}}/images/nyu_short_white.svg" alt="NYU" ></a></div>
  {{> partners }}
</footer></div>		