<div class="partner-wrapper">
  {{#partners}}
    <div class="partner-{{id}}">
    	<a href="{{url}}" title="{{#ltitle}}{{ltitle}}{{/ltitle}}{{^ltitle}}{{name}}{{/ltitle}}" target="_blank">{{name}}</a></div>
  {{/partners}}
</div>